



@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed|Roboto:500');



::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}

::selection {
    background: #16a085;
    color: #a4003a;
    text-shadow: none;
}


 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.centered {
	text-align: center
}

.mt {
	margin-top: 80px;
}

.mb {
	margin-bottom: 80px;
}



body {
    font-family: 'Open Sans';
   
    font-size: 16px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}


h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
    color: #4a4a4a;
}


.navbar-brand {
	font-weight: 700;
}

.navbar-default .navbar-brand {
	color: #1abc9c;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #E9642A;
	background-color: transparent;
	border-bottom: 2px solid #1abc9c
}

.navbar-default .navbar-nav > li > a {
	color: #E9642A;
}


#headerwrap {
	background: url(../images/studio.png) no-repeat center top;
	margin-top: -70px;
	padding-top: 200px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	font-family: 'Roboto', sans-serif;
	color:#1abc9c;
	padding-top: 0px;
	padding-bottom: 20px;
	letter-spacing: 1px;
	font-size: 50px;
}

#headerwrap h4 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	font-size: 20px;
	color: #ffffff;
	letter-spacing: 1px;
}


#footerwrap {
	padding-top: 70px;
	padding-bottom: 50px;
	background-color: #2f2f2f;
}

#footerwrap p {
	color: #f2f2f2;
	margin-left: 10px;
}

#social {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #f2f2f2;
}
.box {
height: 40px;
border: 1px solid #fff;
display: table-cell;
vertical-align: middle;
}


.cont {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}


/* Gallery */
.gallery {
	margin-top: 30px;
}

.gallery img:hover {
	opacity: 0.4;
}
/*button*/
.btnc {
	background-color: #E9642A;
	color: #fff;
}

